impro {
	display: table;
	border: solid 1px;
	padding: 10px;
	margin: 10px;
	break-inside: avoid;
}
nature::before {
	content: "Nature: ";
}
nature {
	display: table-row;
	border: solid 1px;
}
nature[isCompare="1"] {
	background-color: #ddd;
}
titre::before {
	content: "Titre: ";
}
titre {
	display: table-row;
	border: solid 1px;
}
nbj::before {
	content: "NbJ: ";
}
nbj {
	display: table-row;
	border: solid 1px;
}
cate::before {
	content: "Caté: ";
}
cate {
	display: table-row;
	border: solid 1px;
}
cate[isLibre="0"] {
	background-color: #ddd;
}
duree::before {
	content: "Durée: ";
}
duree {
	display: table-row;
	border: solid 1px;
}
divers::before {
	content: "";
}
divers {
	display: table-row;
	border: solid 1px;
}
barillet {
	font-size: 200%;
}
